/*******************************************************************************
 *          WebCalendar Sample Style sheet                                     *
 *                                                                             *
 *                              ----Contributed by Harry Spyropoulos           *
 *******************************************************************************/
/*
 * $Header: /home/cvs/webCal/webCal2/harry.css,v 1.20 2004/10/21 20:38:08 mzou Exp $
 */

/*=============================================================================*
 Body
 ==============================================================================*/
body      {font-family:arial,helvetica,sans-serif;margin:0px 10px 10px 10px} 


/*=============================================================================*
 Link
 =============================================================================*/
a         {color:#660;text-decoration:none}
a:visited {color:#660;text-decoration:none}
a:active  {color:red;text-decoration:none}
a:hover   {color:red;text-decoration:none}
a.transparent:hover {background-color:transparent}
a.nbtn:hover {background-color:#0f0} 
a.dbtn:hover {background-color:#0f0} 

BLOCKQUOTE {padding: 4px 5px 4px}

/*=============================================================================*
 Master Head 
 =============================================================================*/
table.header      {}
td.headertd       {}

.version          {color:#ccf;font-size:10px}
.calendarTitle    {font-size:18px;font-weight:bold}
.favoriateLink    {font-size:9px;}
.logout           {font-size:12px;font-weight:bold}
.memberInTitle    {font-size:10px} 

/*=============================================================================*
 Tabs
 =============================================================================*/
table.tabcontainer {}
td.tabfillerrow    {}
td.tabtabrow       {}
table.tabsbar      {}
td.tabfiller       {}

/* tabtabHover and tabtabActive should really be
   tabtab:hover and tabtab:active. However, IE
   does not support these pseudo class on TD elements.
   This hack is used to get around it. */

td.tabtab          {cursor:pointer}
td.tabtabHover     {cursor:pointer;background-color:yellow;}
td.tabtabActive    {cursor:pointer}

td.tabfiller       {}
td.tabdtime        {}
td.tabclock        {}

.tabTxt            {font-size:9px;color:#99f}
.tabTxtActive      {font-size:9px;color:#ccf}

.motd              {color:#c000cc;font-weight:bold;font-size:12px}
.datetime          {font-weight:bold;font-size:12px} 


/*=============================================================================*
 Horizontal navigation bar
 =============================================================================*/
table.hnbar   {}
td.hnbartd    {}

.hnbar        {font-size:11px;font-weight:bold}
.hnbarMini    {}


/*=============================================================================*
 Date-range navigation bar
 =============================================================================*/
table.dnbar   {}
td.dnbarTd    {}
.dnbarTxt     {font-size:10px}


/*=============================================================================*
 Vertical navigation bar (fancy list views)
 =============================================================================*/
td.v34navHolder {border:1px solid;border-color: #999 #333 #666 #999}

table.v34navtbl {}
td.v34hfiller   {}
td.v34vfiller   {}
td.v34tdBIG     {}
td.v34today     {background-color:#990}
td.v34navTd0    {background-color:#099}

/* see comments above td.tabtabHover */

td.vbtn         {background-color:#336; cursor:pointer;border:1px solid;border-color:#ddd #333 #666 #eee;}
td.vbtnHover    {background-color:#090; cursor:pointer;border:1px solid;border-color:#ddd #333 #666 #eee;}
td.vbtnActive   {background-color:#900; cursor:pointer;border:1px solid;border-color:#ddd #333 #666 #eee;}

.v34nav         {font-size:11px;color:#cc0;font-weight:bold}

/*=============================================================================*
 Small Month calendar as date selector (fancy list views)
 =============================================================================*/

table.v34Smvtbl  {}
td.v34SmvRow1Td  {}
td.v34SmvCol1Td  {}
td.v34SmvTdtdy   {}
td.v34SmvTd      {}
td.v34SmvTdout   {}
td.v34SmvTdnav   {}

.v34SmvRow1Txt   {font-size:11px;font-weight:bold}
.v34SmvTitle     {font-size:11px}
.v34SmvRow1Txt   {font-size:11px}
.v34SmvDay       {font-size:11px}


/*=============================================================================*
 Date navigation bar (fancy list views)
 =============================================================================*/
td.dnbar34Td  {}

.dnbar34Txt {font-size:10px}


/*=============================================================================*
 The quick-add button, tooltip and a few misc items
 =============================================================================*/
.quickadd            {font-size:9px;background-color:#ffd300;color:black} 
.miscTitle           {font-size:18px;font-weight:bold;color:#f00}
.miscTitleSmall      {font-size:12px;font-weight:bold;color:#f00}
.warnMsg             {color:#f00}
.authWarn            {color:#f90;font-weight:bold;font-size:large} 
.msg                 {color:#390;font-style:italic;font-size:12px}   
.boxMsg              {border:1px solid;border-color: #ddd #333 #666 #eee}
.overdue             {color:#fa0}
.greetingInstruction {}
.errorMsg            {}

.errorTitle        {color:red;font-weight:bold}

table.tipholder      {}
tr.tipholder         {}
td.tipholder         {border:2px solid;border-color: #ddd #333 #666 #eee}
table.tip	     {}
tr.tip		     {}
td.tip		     {}		     
.tip                 {font-size:14px}

/*=============================================================================*
 Calendar Search Form Table on all Block views
 =============================================================================*/
table.calSearch {}


/*=============================================================================*
 Popup date selector
 =============================================================================*/
.dsMonthName {font-size:14px;font-weight:bold;color:red} 
.dsDay       {font-size:12px;}
.dsRow1Txt   {font-size:12px;font-weight:bold;color:#fff}
.dsRow1Td    {background-color:#09c}


/*=============================================================================*
 Month/Week/Day Title Label on varivous views  
 =============================================================================*/
.mvTitle,
.wvTitle,
.yvTitle,
.dvTitle,
.mvTitle2,
.wvTitle2,
.yvTitle2,
.dvTitle2
{font-size:20px;font-weight:bold}

.mvTitle34,
.wvTitle34,
.yvTitle34,
.dvTitle34
{font-size:20px;font-weight:bold;color:red;font-style:italic}


/*=============================================================================*
 CS to display event time, title in event tables
 =============================================================================*/
/*-- for event title --*/
.zet1 {font-size:9px}
.zet2 {font-size:9px}
.zet3 {font-size:9px}
.zet4 {font-size:9px}

.zet1:visited, .zet1:link {color:#0c0c0c}
.zet1:hover, .zet1:active {color:#f00;text-decoration:none}
.zet2:visited, .zet2:link {color:#0c0c0c}
.zet2:hover, .zet2:active {color:#f00;text-decoration:none}
.zet3:visited, .zet3:link {color:#f00}
.zet3:hover, .zet3:active {color:#0000d8;text-decoration:none}
.zet4:visited, .zet4:link {color:#0000d8}
.zet4:hover, .zet4:active {color:#f00;text-decoration:none}

/*-- for event time. colors are hard-coded and cannot be changed --*/
.ztt1 {font-size:9px}
.ztt2 {font-size:9px}
.ztt3 {font-size:9px}
.ztt4 {font-size:9px}


/*=============================================================================*
 Event Table, general
 =============================================================================*/
/* The next one is used in event summary table. This table
 * is used in block-day,week,month view, diary-screen event
 * summary, evnet-editor screen event summary.
 * The color/style set on event entries will override all properties
 * defined on TR, except the border.
 */

table.et  {border-collapse:collapse}
tr.et1    {background-color:#d2d2ff}
tr.et2    {background-color:#ffb9b9}
tr.et3    {background-color:#fffbbc}
tr.et4    {background-color:#cfc}
tr.special {background-color:transparent}

td.et1    {}
td.et2    {}
td.et3    {}
td.et4    {}
td.special {background-color:transparent}

/*=============================================================================*
 Day view Styles
 =============================================================================*/
/*-- used in day summary view --*/
table.dvetc     {border-collapse:separate}
table.dvcHolder {}
table.ecombined {}
td.ec1          {background-color:#d2d2ff}
td.ec2          {background-color:#ffb9b9}
td.ec3          {background-color:#fffbbc}
td.ec4          {background-color:#cfc}
td.ec0          {}

/*-- used in day banner view --*/
table.ebanner {border-collapse:separate}
td.eb1    {background-color:#d2d2ff}
td.eb2    {background-color:#ffb9b9}
td.eb3    {background-color:#fffbbc}
td.eb4    {background-color:#cfc}
td.ebebnk {background-color:white}

td.ebt0   {background-color: #eff}
td.ebt1   {background-color: #dff}
td.ebt2   {background-color: #cff}
td.ebt3   {background-color: #bff}
td.ebt4   {background-color: #aff}
td.ebt5   {background-color: #9ff}
td.ebt6   {background-color: #8ff}

/*-- used in day detailed view --*/
table.edetail {border-collapse:separate}
td.ed1        {background-color:#d2d2ff}
td.ed2        {background-color:#ffb9b9}
td.ed3        {background-color:#fffbbc}
td.ed4        {background-color:#cfc}

/* empty slots: mzou */
td.ed00        {background-color: #ffe}
td.ed10        {background-color: #fff}
td.ed01        {background-color: #eff}
td.ed11        {background-color: #fef}

td.dvDRow0Td  {}

.dvDRow0Txt   {color:#6666cc;font-size:12px}
.dvDRow0Txtt  {color:#6666cc;font-size:12px}

table.dvtbl   {}
td.dvpmonth   {}
td.dvmonth    {}
td.dvnmonth   {}
td.dvmonthfill {}

table.edetailNested {}

td.dvOutsideTd0 {background-color:#cff} 
td.dvOutsideTd1 {background-color:#cfc}

/*-- time in banner view   --*/
.dvBT  {font-size:9px;color:black}
/*-- time in detailed view --*/
.dvDT  {font-size:9px;color:black}
/*-- time in summary view  --*/
.dvT   {font-size:9px;color:black}

/*=============================================================================*
 Column banner View, May 15, 2003  mzou
 =============================================================================*/

.dbvhdr0      {background-color:#ffc; border-bottom:1px solid;border-right:1px solid;border-color:#333;}
.dbvhdr1      {background-color:#cff; border-bottom:1px solid;border-right:1px solid;border-color:#333;}

td.dbvdtm0       {background-color:#ffc;border:1px solid; border-color:#999 #333 #666 #999;}
td.dbvdtm1       {background-color:#cff;border:1px solid; border-color:#999 #333 #666 #999;}
.dbvBT           {color:blue}
.dbvhdr          {color:blue}

td.dbvdbnk00     {background-color: #ffc}
td.dbvdbnk10     {background-color: #ddc}
td.dbvdbnk01     {background-color: #cff}
td.dbvdbnk11     {background-color: #cdd}

/* for no time events or events outside range */

tr.dbvRowOut0          {}
tr.dbvRowOut1          {}
td.dbvOutsideTd0       {background-color:#ffc} 
td.dbvOutsideTd1       {background-color:#cfc}

/*=============================================================================*
 Block Month View
 =============================================================================*/
table.mvtbl {}
td.mvtdpmth {background-color:#ffe}
td.mvtdnmth {background-color:#ffe}
td.mvtdtdy  {}
td.mvtd     {}
td.mvtdwknd {}
td.mvRow1Td {}
td.mvCol1Td {}

.mvRow1Txt  {font-size:10px;font-weight:bold;color:#fff}
.mvRow1Td   {}
.mvCol1Td   {}
.mvCol1Txt  {font-size:9px;color:#ff0}
.mvDay      {font-size:12px;font-weight:bold} 


/*=============================================================================*
 Small Block Month View
 =============================================================================*/
/*-- duplicated for different uses of small month table --*/

table.Smvtbl  {}
td.SmvRow1Td  {}
td.SmvCol1Td  {}
td.SmvTdtdy   {}
td.SmvTd      {}
td.SmvTdout   {}
td.SmvTdnav   {}

.SmvRow1Txt   {font-size:11px;font-weight:bold}
.SmvTitle     {font-size:12px;font-weight:bold}
.SmvDay       {font-size:12px}  

/*-- small month cal if used in a iframe --*/
table.navSmvtbl  {}
td.navSmvRow1Td  {}
td.navSmvCol1Td  {}
td.navSmvTdtdy   {}
td.navSmvTd      {}
td.navSmvTdout   {}
td.navSmvTdnav   {}
.navSmvRow1Txt   {font-size:9px;font-weight:bold}		  
.navSmvTitle     {font-size:9px}
.navSmvDay       {font-size:9px}  


/*=============================================================================*
 Block Week View
 =============================================================================*/
table.wvtbl    {}
td.wvTd        {}
td.wvTdToday   {}
td.wvTdwknd    {background-color:#eef}

table.wvcftblHolder {}
td.wvcftblHolderTd  {}

table.wvcftbl  {}
td.cftd0       {}
td.cftd1       {}
td.cftd2       {}
td.cftd3       {}
td.cftd4       {}
td.cftd5       {}
td.cftd6       {}

td.cftdy0      {}
td.cftdy1      {}
td.cftdy2      {}
td.cftdy3      {}
td.cftdy4      {}
td.cftdy5      {}
td.cftdy6      {}
td.wvCftRow1Td {background-color:#ccc}
td.wvCftCol1Td {}

.wvWday        {font-size:13px;font-weight:bold;color:blue}
.wvDay         {font-size:9px}
.wvCftRow1Txt  {font-size:11px;font-weight:bold;color:blue}
.wvCftCol1Txt  {font-size:9px;color:blue}


/*=============================================================================*
 Detailed Week View, May 15, 2003 mzou
 =============================================================================*/

.wvdWday        {font-size:13px;font-weight:bold;color:blue}
.wvdDay         {font-size:13px}
td.wvdayhdr0      {background-color:#ffc; border-bottom:1px solid;border-right:1px solid;border-color:#333;}
td.wvdayhdr1      {background-color:#cff; border-bottom:1px solid;border-right:1px solid;border-color:#333;}

td.wvdtm0       {background-color:#dff; border:1px solid; border-color:#999 #333 #666 #999;}
td.wvdtm1       {background-color:#ffd; border:1px solid; border-color:#999 #333 #666 #999;}
.wvBT           {font-size:9px;color:blue}

/*
td.wvdbnk00     {background-color: #ffc}
td.wvdbnk10     {background-color: #ddc}
td.wvdbnk01     {background-color: #cff}
td.wvdbnk11     {background-color: #cdd}
*/
td.wvdbnk00     {background-color: #fff}
td.wvdbnk10     {background-color: #ffe}
td.wvdbnk01     {background-color: #eff}
td.wvdbnk11     {background-color: #dff}

/* for no time events or events outside range */

tr.wvRowOut0          {}
tr.wvRowOut1          {}
td.wvOutsideTd0       {background-color:#eef} 
td.wvOutsideTd1       {background-color:#eef}

/*=============================================================================*
 Block Year View
 =============================================================================*/
/* The "Special events" title */
table.yveTbl   {border:1px solid;border-color: #999 #333 #666 #999}
td.yvEtTRow    {font-size:12px}
td.yvEttdt     {font-size:12px}
td.yvEttde     {font-size:12px}
td.yvmth       {}
table.yvEtHolder {}
td.yvEtHolderTD  {}

.yvEtTitle {color:red;font-size:14px;font-weight:bold;text-decoration:underline}

.yvRecurrence {font-size:9px}

/*=============================================================================*
 Simple List View
 =============================================================================*/
table.v2etHolder {}
table.v2tbl {}
td.v2Row1Td {border-bottom:1px solid;border-right:1px solid;border-color:#333;}
td.v2filler {}

td.v2DateTd0 {background-color: #eee}
td.v2eTd10   {background-color: #fff}
td.v2eTd20   {background-color: #fff}
td.v2eTd30   {background-color: #fff}

td.v2DateTd1 {background-color: #dee}
td.v2eTd11   {background-color: #eff}
td.v2eTd21   {background-color: #eff}
td.v2eTd31   {background-color: #eff}

td.v2DateTd2 {background-color: #ede}
td.v2eTd12   {background-color: #fef}
td.v2eTd22   {background-color: #fef}
td.v2eTd32   {background-color: #fef}


/* used in displaying date and day: the leftmost column */
.v2Date     {color:#666;font-weight:bold}
.v2Day      {color:#fa0;font-weight:bold}
.v2Row1Txt  {color:#fff;font-weight:bold}
.v2Title    {}
.v2Detail   {}


/*=============================================================================*
 Fancy List Views
 =============================================================================*/
table.v34tbl {}

td.v3td1     {}
td.v3td2     {}
td.v3td3     {}
td.v3td4     {}
td.v3td0     {}

.v34Date     {font-size:12px;font-weight:bold}

/* event/localtion/category label */
.v3Label    {}  
.v3Category {} 
.v3Location {} 
.v3Speaker  {} 
.v3Title    {}

/*=============================================================================*
 Fancy List Views
 =============================================================================*/
/* style for event title */
.v4title1 {font-size:16px;color:#0c0c0c}
.v4title2 {font-size:16px;color:#0c0c0c}
.v4title3 {font-size:16px;color:#f00}
.v4title4 {font-size:16px;color:#0000d8}

/* style of td cell for the above 4. They are also used in 
 * event detail screen
 */
td.v4titleBG1    {background-color:#d2d2ff}
td.v4titleBG2    {background-color:#ffb9b9}
td.v4titleBG3    {background-color:#fffbbc}
td.v4titleBG4    {background-color:#cfc}
td.v4dateLabel,
td.v4dateTxt,
td.v4timeLabel,
td.v4timeTxt,
td.v4detailLabel,
td.v4detailTxt,
td.v4attLabel,
td.v4attTxt,
td.v4priLabel,
td.v4priTxt,
td.v4urlLabel,
td.v4urlTxt,
td.v4locationLabel,
td.v4locationTxt,
td.v4catLabel,
td.v4catTxt,
td.v4ctpLabel,
td.v4ctpTxt,
td.v4ctmLabel,
td.v4ctmTxt,
td.v4authorLabel,
td.v4authorTxt,
td.v4speakerLabel,
td.v4speakerTxt  {font-size:13px}

.v4mailto        {font-size:9px}
.v4edit          {font-size:9px} 

.v4recurrence    {font-size:9px;color:#c0c}

/*=============================================================================*
 Diary Screen
 =============================================================================*/
table.diaryHolder {}
td.diaryHolderTD  {}

table.diaryEtHolder {}
td.diaryEtHolderTd  {}

table.diaryCtbl  {}
table.diaryEtTbl {}
td.diaryEtTd     {background-color:#ccc;border:1px solid;border-color: #ddd #333 #666 #eee}
td.diarytbarTd   {}
td.diaryTd       {color:#360}

.diaryDate       {font-size:12px}
.diaryEdit       {font-size:10px}
.diaryPrint      {font-size:10px}

/* event table on the right */
.diaryEtTitle {font-size:14px;font-weight:bold;color:#f30;text-decoration:underline}

P.diaryContent {font-size:12px} 
P.diaryContent:first-letter {color:red;font-size:16px;text-transform:uppercase} 


/*=============================================================================*
 Note Screen
 =============================================================================*/
table.noteContentHolder {}
td.noteContentHolderTd  {}
table.noteContentTbl    {}
table.noteSearch	{}

table.note       {}
td.notePin       {}
td.noteFiller    {}
td.noteCatTd     {}
td.noteTitle     {}
td.noteContentTd {}

.notePrint       {font-size:10px;color:#800}
.noteEdit        {font-size:10px;color:#800}
.noteDelete      {font-size:10px;color:#800}
.noteDatetime    {font-size:11px;color:#660}
.noteTitle       {font-size:12px;color:blue}
.noteCat         {font-size:14px;font-weight:bold;font-style:italic}
.noteContent     {font-size:10px}

/*=============================================================================*
 Contact List Screen
 =============================================================================*/
table.addrIndex  {}
td.addrIndex     {}

table.addrSearch {}

table.address    {}

td.addrRow1Td    {color:#800}

td.addrName0,
td.addrPhone0,
td.addrFax0,
td.addrEmail0,
td.addrCompany0,
td.addrAddr0,
td.addrInfo0,
td.addrckbox0 { background-color:white}

td.addrName1,
td.addrPhone1,
td.addrFax1,
td.addrEmail1,
td.addrCompany1,
td.addrAddr1,
td.addrInfo1,
td.addrckbox1 { background-color:#eee}

.addrName,
.addrPhone,
.addrFax,
.addrEmail,
.addrCompany,
.addrAddr,
.addrInfo    {color:#336;font-size:12px}

.addrCheck   {font-size:12px}
.addrSmail   {font-size:12px} 

.addrIndex   {font-size:12px}
.addrRow1Txt {font-size:12px}

/*=============================================================================*
 Task Manager Screen
 =============================================================================*/
table.taskTab       {}
td.taskTabTd        {}
td.taskTabTdActive  {}
td.taskTabSpacer    {}

table.tasktbl       {}
td.taskRow1Td       {}


td.taskckbox0        {}
td.taskSdate0        {}
td.taskDdate0        {}
td.taskDtime0        {}
td.taskTitle0        {}
td.taskDetail0       {}

td.taskckbox1        {}
td.taskSdate1        {}
td.taskDdate1        {}
td.taskDtime1        {}
td.taskTitle1        {}
td.taskDetail1       {}

.taskLabel    {font-size:12px;font-weight:bold}
.taskRow1Txt  {font-size:12px;font-weight:bold;color:white}
.taskSdate    {font-size:11px}
.taskDdate    {font-size:11px;color:#c00}
.taskDtime    {font-size:12px;color:#ff0066}
.taskTitle    {font-size:12px}
.taskDetail   {font-size:11px}
.taskDoneA    {color:red;font-style:italic;font-size:11px}
.taskDoneB    {color:green;font-style:italic;font-size:11px}


/*=============================================================================*
 MailTo Screen
 =============================================================================*/
td.m2calTd  {font-size:13px;border:1px solid;border-color: #ddd #333 #666 #eee}
td.m2m2Td   {font-size:13px;border:1px solid;border-color: #ddd #333 #666 #eee; background-color:#90ff90}

.m2cal      {}
.m2calName  {}


/*=============================================================================*
 Calendar Listing Screen
 =============================================================================*/
table.listCal {}
tr.listCalTR0 {}
tr.listCalTR1 {}
td.listCalTd1   {cursor:pointer}
td.listCalDes   {font-size:14px;font-style:italic}
td.listCalName  {font-weight:bold;font-size:14px;color:black}
td.listCalGName {font-weight:bold;font-size:14px;color:red}
.listCalNameT  {font-weight:bold;color:black}
.listCalGNameT {font-weight:bold;color:red}

/*=============================================================================*
 Event Editor
 =============================================================================*/
table.editor     {}
table.editorClrs {}
td.editorEsum    {}
td.editorRow0    {}
td.editorClrs    {}
td.editorFont    {}
td.editorCT      {}
td.editorAtt     {}
td.editorRmnd1   {}
td.editorK       {}
td.editorP       {}
td.editorCmp     {} 

/*=============================================================================*
 Form elements
 =============================================================================*/
.fmLabel      {font-size:10px}
.fmLabelS     {font-size:10px}
.fmEntryClock {font-size:9px}

.fmFile,
.fmBtn,
.fmBtnSt,
.fmList,
.fmListS,
.fmListN,
.fmEntry,
.fmEntryS,
.fmEntryP
{font-size:10px}

.fmBtnS {font-size:small}

.fmEntryS,
.fmListS  {font-size:9px}

.fmListN {}

.fmBtnSt        {background-color:#ccf;font-weight:bold}
.fmBtnSt:hover  {background-color:red;color:white}

.fmBtn          {background-color:#ccf}
.fmBtn:hover    {background-color:red;color:white}

.fmRadio,
.fmRadioS {font-size:10px}

.fmText   {}
.fmTextS  {font-size:11px}

/* long message in form */
.fmMsg {font-size:10px;border: 3px double red; color: #090; margin-left:4px} 


/*=============================================================================*
 Popup reminder
 =============================================================================*/
.reminderT     {}
.reminderD     {}


/*=============================================================================*
 Image upload/select link on various screens
 =============================================================================*/
.iupload       {font-size:11px;background-color:#ffb9b9;color:black}
.iselect       {font-size:11px;background-color:#90ff90;color:black}

/*=============================================================================*
 used in image and calendar range selection bars
 =============================================================================*/
.lnkstep           {font-size:13px} 
.lnkrange          {font-size:13px;color:#0000cc}
.rangeSelectNBar   {background-color:#99ff99;border:2px solid red}


/*=============================================================================*
 Compare & conflict table
 =============================================================================*/
table.cftETable  {border-collapse: collapse;}

.cftEtHead     {color:green;font-style:italic} 
.cftCname      {color:blue;font-weight:bold;font-style:italic} 

.cfmName {}
.cfmAcpt {}
.cfmDced {}


/*=============================================================================*
 Import/Export screen
 =============================================================================*/
table.exportvcal  {}
td.exportvcal     {}

table.importvcal  {}
td.importvcal     {}


/*=============================================================================*
 Admin screen
 =============================================================================*/
table.admin       {}

/*=============================================================================*
 Options screen
 =============================================================================*/
table.option      {}

td.option0        {}
td.option1        {}
td.optionx        {}


/*=============================================================================*
Used in variables for grid lines
 =============================================================================*/
.backtbla    {} 
.backtbltask       {}
.backtbladdress    {}
.backtblmcal       {}
.backtblwcal       {}
.backtbldvb        {}
.backtbldvc        {}
.backtbldvd        {}
.backtblwvb        {}

/*=============================================================================
 *  combined year view May 25 2003
 =============================================================================*/

.backtblycal       {}
table.yvtbl        {}
td.yvRow1Td  {color:white; font-size:12px; border-bottom:1px solid #333; border-right:1px solid #333}
td.yvCol1Td  {color:white; font-size:12px; border-bottom:1px solid #333; border-right:1px solid #333}

td.ycm       {}
td.yc0       {background-color:white}
td.yc1       {background-color:#bbb}
              /* do not specify bg color */
td.yc2       {}

.yvRow1Txt   {font-size:13px;color:yellow}
.yvCol1Txt   {font-size:13px;font-weight:bold}
.ycfree      {font-size:12px;color:#666} 
.ycbusy      {font-size:12px;color:#c00} 

/*=============================================================================
 *  free busy table May 25 2003
 =============================================================================*/
.backtblfb  {}
table.fbtbl {} 

td.crow1  {background-color:#186868; border-bottom:1px solid #333; border-right:1px solid #333;}
td.crow2  {background-color:#009; border-bottom:1px solid #333;}
.crow1txt {color: white}
.crow1txts {color: white}
.crow2txt {color: white}

td.ccol1  {background-color:#990; border-bottom:1px solid #333; border-right:1px solid #333;}
.ccol1txt {color:red}

td.ccolx  {background-color:#c06}
td.ccolz  {background-color:#fc9}
td.cfree  {}

/* please don't specify bgcolor */
td.cbusy  {}

.cc       {font-size:10px}

td.cdivider { background-color: red}

/*=============================================================================*
 05/13/2004
 left navigation bar on option/admin screens 
 =============================================================================*/
table.oaContainer {background-color:#fff}
td.oaleft	  {}
td.oadivider	  {}
td.oaright	  {}

.lnav             {color:#333; font-size:small;}
.lnava            {color:#c33; font-size:small;}
.lnavh            {color:#fff; font-weight:bold; font-size:small;}

table.lntab       {}
tr.lnheaderrow    {}
td.lnheadercell   { border: 0px solid green; color:#aaf}
.lnheadertxt      {}
tr.lnrow          {}

/* see comments above td.tabtabHover */
td.lncell         {cursor:pointer;border:1px solid;border-color:#ddd #666 #999 #fff; background-color:#eee;}
td.lncellHover    {cursor:pointer;border:1px solid;border-color:#666 #999 #fff #777; background-color:#ddd;}
td.lncellh        {cursor:pointer;border:1px solid;border-color:#ddd #666 #999 #fff; background-color:#c00;}

table.opdivider   {}
td.optitle	  {font-size: 12px; font-style:italic; color: #ccc; font-weight: bold;}
/*=============================================================================*/

/* 07/30/04: used in search form */ 

.fmLabelSa  {color: #333}
.fmEntrySa {padding: 0pt;}

.fmBtnStSa {font-size:10px; color:#f00;padding: 0pt; border:1px solid;border-color: #ddd #333 #666 #eee;}
.fmBtnStSa:hover {color:#0f0;background-color:#f00}


/*=============================================================================*/

/* 07/30/04: Header elements */
 
.fmEntryH,
.fmBtnH,
.fmListH,
.fmLabelH {font-size: 10px;}

.fmEntryH {}
.fmBtnH   {paddint:1pt}
.fmListH  {}
.fmLabelH {}

.searchform {padding:0px; margin-bottom:0}
.headerform {padding:0px; margin-bottom:0}

td.editsubmit {;border: 0px solid red}
/*=============================================================================*/
.noborder { border-width: 0px}
.awarn {color:#00f; font-weight:bold;font-size:small}
/*=============================================================================*/
