

body {
font-family: 'Shift', sans-serif;
text-align: center;
}
        
#aquabox {
background-color:aqua;
width:200px;
height:200px;
display:none;
position:relative;
}
        
.bold {
font-weight:bold;
}

.nav a {
  color: #5a5a5a;
  font-size: 14px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
    font-family: 'Shift', sans-serif;

}

.jumbotron {
  background-image:url('http://a.abcnews.go.com/images/Technology/GTY_child_at_chalkboard_doing_math_jt_140315_16x9_992.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
  font-family: 'Shift', sans-serif;
}

.jumbotron a {
    font-family: 'Shift', sans-serif;
}
.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.bottomheader {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
    font-family: 'Shift', sans-serif;
}

.bottomheader h2 {
    font-weight: bold;
}
.neighborhood-guides h2 {
    color: #393c3d;
    font-size: 24px;
}

.neighborhood-guides p {
    font-size: 15px;
    margin-bottom: 13px;
}