/*******************************************************************************
 *          WebCalendar Sample Style sheet                                     *
 *                                           ------Dark background             *
 *******************************************************************************/

/*
 * $Header: /home/cvs/webCal/webCal2/dark.css,v 1.27 2005/01/14 19:27:21 mzou Exp $
 */

/* cleaned up by  "Ed" <epo1@myrealbox.com> */

/*=============================================================================*
 Body
 =============================================================================*/
body      {font-family: arial,helvetica,sans-serif; margin:0 2px 10px 2px; 
           color:#888800; background-color:#000}

/*=============================================================================*
 Link
 =============================================================================*/
a         { color:#cc0; text-decoration:none}
a:visited { color:#cc0; text-decoration:none}
a:active  { color:#ccf; text-decoration:underline}
a:hover   { color:#ffc0c6; text-decoration:none;color:red;background-color:#0f0}
a.transparent:hover {background-color:transparent}

blockquote {padding: 4px 5px 4px}

/*=============================================================================*
 Master Head 
 =============================================================================*/
table.header      {}
td.headertd       {}

.version          {color:#ccf;font-size:10px}
.calendarTitle    {font-size:18px;font-weight:bold;color:blue}
.favoriateLink    {font-size:9px;}
.logout           {font-size:12px;font-weight:bold;}
.memberInTitle    {font-size:10px; color:blue} 

/*=============================================================================*
 Tabs
 =============================================================================*/
table.tabcontainer {}
td.tabfillerrow    {}
td.tabtabrow       {background-color:black}
table.tabsbar      {}
td.tabfiller       {}

/* tabtabHover and tabtabActive should really be
   tabtab:hover and tabtab:active. However, IE
   does not support these pseudo class on TD elements.
   This hack is used to get around it. */

td.tabtab          {cursor:pointer; background-color:black}
td.tabtabHover     {cursor:pointer; background-color:yellow}
td.tabtabActive    {cursor:pointer}

td.tabdtime        {}
td.tabclock        {}

.tabTxt            {font-size:9px;color:#99f}
.tabTxtActive      {font-size:9px;color:#ccf}
.motd              {color:#c000cc;font-weight:bold;font-size:12px}
.datetime          {font-weight:bold;font-size:12px;font-style:italic} 


/*=============================================================================*
 Horizontal navigation bar
 =============================================================================*/
table.hnbar   {}
td.hnbartd    {}

.hnbar        {font-size:11px;font-weight:bold;}
.hnbarMini    {}


/*=============================================================================*
 Date-range navigation bar
 =============================================================================*/
table.dnbar   {background-color:#660}
td.dnbarTd    {background-color:#006}
.dnbarTxt     {font-size:10px;color:#cc0}


/*=============================================================================*
 Vertical navigation bar (fancy list views)
 =============================================================================*/
td.v34navHolder {border:1px solid;border-color: #ddd #555 #666 #eee;}

Table.v34navtbl {}
td.v34hfiller   {}
td.v34vfiller   {}
td.v34tdBIG     {background-color:#444}
td.v34today     {background-color:#990}
td.v34navTd0    {background-color:#099}

/* see comments above td.tabtabHover */
 
td.vbtn         {cursor:pointer;border:1px solid;border-color:#ddd #555 #666 #eee; background-color:#006}
td.vbtnHover    {cursor:pointer;border:1px solid;border-color:#ddd #555 #666 #eee; background-color:#0c0}
td.vbtnActive   {cursor:pointer;border:1px solid;border-color:#ddd #555 #666 #eee; background-color:#600}

.v34nav         {font-size:11px;color:#cc0;font-weight:bold}

/*=============================================================================*
 Small Month calendar as date selector (fancy list views)
 =============================================================================*/

table.v34Smvtbl  {background-color:#ccc}
td.v34SmvRow1Td  {background-color:black}
td.v34SmvCol1Td  {background-color:black}
td.v34SmvTdtdy   {background-color:#606}
td.v34SmvTd      {background-color:black}
td.v34SmvTdout   {background-color:#666}
td.v34SmvTdnav   {background-color:#f06}

.v34SmvRow1Txt   {font-size:11px;font-weight:bold}
.v34SmvTitle     {font-size:11px}
.v34SmvRow1Txt   {font-size:11px}
.v34SmvDay       {font-size:11px}


/*=============================================================================*
 Date navigation bar (fancy list views)
 =============================================================================*/
td.dnbar34Td  {background-color:#069}

.dnbar34Txt {font-size:10px;color:#990}



/*=============================================================================*
 The quick-add button, tooltip and a few misc items
 =============================================================================*/
.quickadd            {font-size:9px;background-color:#606;color:#aaa} 
.miscTitle           {font-size:18px;font-weight:bold;color:#f00}
.miscTitleSmall      {font-size:12px;font-weight:bold;color:#f00}
.warnMsg             {color:#f00}
.authWarn            {color:#f90;font-weight:bold;font-size:large} 
.msg                 {color:#390;font-style:italic;font-size:12px}   
.boxMsg              {border:1px solid;border-color: #ddd #555 #666 #eee;}
.overdue             {color:#fa0}
.greetingInstruction {}
.errorMsg            {}

.errorTitle        {color:red;font-weight:bold;}

table.tipholder      {}
tr.tipholder         {}
td.tipholder         {border:2px solid;border-color: #ddd #555 #666 #eee;}
table.tip	     {}
tr.tip		     {}
td.tip		     {}		     
.tip                 {font-size:14px;color:#c0c}

/*=============================================================================*
 Calendar Search Form Table on all Block views
 =============================================================================*/
table.calSearch {}


/*=============================================================================*
 Popup date selector
 =============================================================================*/
.dsMonthName {font-size:14px;font-weight:bold;color:red} 
.dsDay       {font-size:12px;}
.dsRow1Txt   {font-size:12px;font-weight:bold;color:#fff}
.dsRow1Td    {background-color:#09c}


/*=============================================================================*
 Month/Week/Day Title Label on varivous views  
 =============================================================================*/
.mvTitle,
.wvTitle,
.yvTitle,
.dvTitle,
.mvTitle2,
.wvTitle2,
.yvTitle2,
.dvTitle2
{font-size:16px;font-weight:bold}

.mvTitle34,
.wvTitle34,
.yvTitle34,
.dvTitle34
{font-size:18px;font-weight:bold;color:#999;font-style:italic}


/*=============================================================================*
 Style used to display event time, title in event tables
 1 -- appointment
 2 -- todo
 3 -- meeting
 4 -- special
 =============================================================================*/
/*-- for event title --*/
.zet1 {color:#fcc}
.zet2 {color:#cfc}
.zet3 {color:#fcf}
.zet4 {color:#cff}

/*-- for event time. colors are hard-coded and cannot be changed --*/
.ztt1 {}   
.ztt2 {} 
.ztt3 {}   
.ztt4 {}  


/*=============================================================================*
 Event Table, general
 =============================================================================*/
/* The next one is used in event summary table. This table
 * is used in block-day,week,month view, diary-screen event
 * summary, evnet-editor screen event summary.
 * The color/style set on event entries will override all properties
 * defined on TR, except the border.
 */

table.et  {border-collapse: collapse}
tr.et1    {border-top:1px dotted transparent; border-color:#669}
tr.et2    {border-top:1px dotted transparent; border-color:#669}
tr.et3    {border-top:1px dotted transparent; border-color:#669}
tr.et4    {border-top:1px dotted transparent; border-color:#669}
tr.special {background-color:transparent}

td.et1    {background-color:#600}
td.et2    {background-color:#060}
td.et3    {background-color:#606}
td.et4    {background-color:#066}
td.special {background-color:transparent}


/*=============================================================================*
 Day view Styles
 =============================================================================*/
/*-- used in day summary view --*/
table.dvetc     {border-collapse: separate;}
table.dvcHolder {background-color:#669}
table.ecombined {background-color:#669}
td.ec1          {background-color:#600}
td.ec2          {background-color:#060}
td.ec3          {background-color:#606}
td.ec4          {background-color:#066}
td.ec0          {background-color:black}

/*-- used in day/week banner view --*/
table.ebanner {border-collapse: separate;background-color:#669}
td.eb1    {border-bottom:1px solid #333;border-right:1px solid #333; background-color:#600}
td.eb2    {border:3px double #cc0; background-color:#060}
td.eb3    {border:1px dotted red;  background-color:#606}
td.eb4    {border:1px dotted blue; background-color:#066}
td.ebebnk {background-color:black}

td.ebt0   {background-color:#505}
td.ebt1   {background-color:#606}
td.ebt2   {background-color:#707}
td.ebt3   {background-color:#808}
td.ebt4   {background-color:#909}
td.ebt5   {background-color:#a0a}
td.ebt6   {background-color:#b0b}

/*-- used in day detailed view --*/
table.edetail {border-collapse: separate;background-color:#669}
td.ed1        {background-color:#600}
td.ed2        {background-color:#060}
td.ed3        {background-color:#606}
td.ed4        {background-color:#066}

td.ed00        {background-color: #262600}
td.ed10        {background-color: #330}
td.ed01        {background-color: #002626}
td.ed11        {background-color: #033}

td.dvDRow0Td1  {background-color:#165;border-bottom:1px solid;border-right:1px solid;border-color:#333;}
td.dvDRow0Td0  {background-color:#651;border-bottom:1px solid;border-right:1px solid;border-color:#333;}

.dvDRow0Txt   {color:#66c;font-size:12px}
.dvDRow0Txtt  {color:#66c;font-size:12px}

table.dvtbl   {background-color:black;}
td.dvpmonth   {}
td.dvmonth    {}
td.dvnmonth   {}
td.dvmonthfill {}

table.edetailNested { background-color:#334}

td.dvOutsideTd0 { background-color:#345}
td.dvOutsideTd1 { background-color:#345}

/*-- time in banner view   --*/
.dvBT  {color:#996}
/*-- time in detailed view --*/
.dvDT  {color:#996}
/*-- time in summary view  --*/
.dvT   {color:#39c}


/*=============================================================================*
 Column banner View, May 15, 2003 
 =============================================================================*/

.dbvhdr0      {background-color:#651; border-bottom:1px solid;border-right:1px solid;border-color:#333;}
.dbvhdr1      {background-color:#166; border-bottom:1px solid;border-right:1px solid;border-color:#333;}

td.dbvdtm0       {background-color: #066;border:1px solid; border-color:#999 #333 #666 #999;}
td.dbvdtm1       {background-color: #660;border:1px solid; border-color:#999 #333 #666 #999;}
.dbvBT           {color:#c0c}
.dbvhdr          {color:blue}

td.dbvdbnk00     {background-color: #110}
td.dbvdbnk10     {background-color: #330}
td.dbvdbnk01     {background-color: #011}
td.dbvdbnk11     {background-color: #033}

/* for no time events or events outside range */

tr.dbvRowOut0          {}
tr.dbvRowOut1          {}
td.dbvOutsideTd0       {background-color:#003} 
td.dbvOutsideTd1       {background-color:#300}



/*=============================================================================*
 Block Month View
 =============================================================================*/
table.mvtbl {}
td.mvtdpmth {background-color:#444}
td.mvtdnmth {background-color:#444}
td.mvtdtdy  {background-color:#606}
td.mvtd     {background-color:#000}
td.mvtdwknd {background-color:#006}


td.mvRow1Td {background-color:black}
td.mvCol1Td {background-color:black}

.mvRow1Txt  {font-size:10px;font-weight:bold;color:#ccc}
.mvCol1Txt  {font-size:9px;color:#ff0;background-color:black}
.mvDay      {font-size:12px;font-weight:bold;font-style:italic;color:#fa0} 


/*=============================================================================*
 Small Block Month View
 =============================================================================*/
/*-- duplicated for different uses of small month table --*/

table.Smvtbl  {background-color:#999}
td.SmvRow1Td  {background-color:black}
td.SmvCol1Td  {background-color:black}
td.SmvTdtdy   {background-color:#606}
td.SmvTd      {background-color:black}
td.SmvTdout   {background-color:#1f1f1f}
td.SmvTdnav   {background-color:#000}

.SmvRow1Txt   {font-size:11px;font-weight:bold;color:#999}
.SmvTitle     {font-size:12px;font-weight:bold}
.SmvDay       {font-size:12px}  

/*-- small month cal if used in a iframe --*/
table.navSmvtbl  {background-color:#666}
td.navSmvRow1Td  {background-color:black}
td.navSmvCol1Td  {background-color:black}
td.navSmvTdtdy   {background-color:#606}
td.navSmvTd      {background-color:black}
td.navSmvTdout   {background-color:#333}
td.navSmvTdnav   {background-color:#f06}
.navSmvRow1Txt   {font-size:9px;font-weight:bold}		  
.navSmvTitle     {background-color:black;font-size:9px}
.navSmvDay       {font-size:9px}  


/*=============================================================================*
 Block Week View
 =============================================================================*/
table.wvtbl  {}
td.wvTd        {background-color:black;}
td.wvTdToday   {background-color:#222;}
td.wvTdwknd    {background-color:#223}

table.wvcftblHolder {}
td.wvcftblHolderTd  {}

table.wvcftbl  {background-color:#666}
td.cftd0       {background-color:black}
td.cftd1       {background-color:#333}
td.cftd2       {background-color:#555}
td.cftd3       {background-color:#666}
td.cftd4       {background-color:#888}
td.cftd5       {background-color:#999}
td.cftd6       {background-color:#aaa}

td.cftdy0      {background-color:#303}
td.cftdy1      {background-color:#505}
td.cftdy2      {background-color:#606}
td.cftdy3      {background-color:#808}
td.cftdy4      {background-color:#909}
td.cftdy5      {background-color:#a0a}
td.cftdy6      {background-color:#b0b}
td.wvCftRow1Td {background-color:#333;}
td.wvCftCol1Td {background-color:#222;}

.wvWday        {font-weight:bold;color:blue}
.wvDay         {}
.wvCftRow1Txt  {font-size:10px;color:blue;font-weight:bold;}
.wvCftCol1Txt  {font-size:9px;color:blue;}


/*=============================================================================*
 Detailed Week View, May 15, 2003 
 =============================================================================*/

.wvdWday        {font-weight:bold;color:blue}
.wvdDay         {}
td.wvdayhdr0      {background-color:#651; border-bottom:1px solid;border-right:1px solid;border-color:#333;}
td.wvdayhdr1      {background-color:#156; border-bottom:1px solid;border-right:1px solid;border-color:#333;}

td.wvdtm0       {background-color: #066;border:1px solid; border-color:#999 #333 #666 #999;}
td.wvdtm1       {background-color: #660;border:1px solid; border-color:#999 #333 #666 #999;}
.wvBT           {color:#ff0}

td.wvdbnk00     {background-color: #110}
td.wvdbnk10     {background-color: #330}
td.wvdbnk01     {background-color: #011}
td.wvdbnk11     {background-color: #033}

/* for no time events or events outside range */
tr.wvRowOut0          {}
tr.wvRowOut1          {}
td.wvOutsideTd0       {background-color:#003} 
td.wvOutsideTd1       {background-color:#300}



/*=============================================================================*
 Block Year View
 =============================================================================*/
/* The "Special events" title */
table.yveTbl   {background-color:black;border:1px solid;border-color: #999 #555 #666 #999;}
td.yvEtTRow    {background-color:#222}
td.yvEttdt     {background-color:#222}
td.yvEttde     {background-color:#222}
td.yvmth       {}
table.yvEtHolder {}
td.yvEtHolderTD  {}

.yvEtTitle {color:red;font-size:14px;font-weight:bold; text-decoration:underline}

.yvRecurrence {}

/*=============================================================================*
 Simple List View
 =============================================================================*/
table.v2etHolder {}
table.v2tbl {background-color:#99c}
td.v2Row1Td {background-color:#666}

td.v2DateTd0 {background-color:#333}
td.v2eTd10   {background-color:black}
td.v2eTd20   {background-color:#033}
td.v2eTd30   {background-color:#003030}

td.v2DateTd1 {background-color:#333}
td.v2eTd11   {background-color:black}
td.v2eTd21   {background-color:#033}
td.v2eTd31   {background-color:#003030}

td.v2DateTd2 {background-color:#333}
td.v2eTd12   {background-color:black}
td.v2eTd22   {background-color:#033}
td.v2eTd32   {background-color:#003030}


td.v2filler {background-color:#990}
/* used in displaying date and day: the leftmost column */
.v2Date     {color:#ccc}
.v2Day      {color:#fa0;font-weight:bold}
.v2Row1Txt  {color:#c9c}
.v2Title    {}
.v2Detail   {}


/*=============================================================================*
 Fancy List Views
 =============================================================================*/
table.v34tbl {}

td.v3td1     {background-color:#300}
td.v3td2     {background-color:#030}
td.v3td3     {background-color:#303}
td.v3td4     {background-color:#033}
td.v3td0     {background-color:#666}

.v34Date     {font-style:italic;color:#99f}

/* event/localtion/category label */
.v3Label    {}  
.v3Category {} 
.v3Location {} 
.v3Speaker  {} 
.v3Title    {}

/*=============================================================================*
 Fancy List Views
 =============================================================================*/
/* style for event title */
.v4title1,
.v4title2,
.v4title3,
.v4title4
{font-size:14px;font-weight:bold;color:#f30;text-decoration:underline;}

/* style of td cell for the above 4. They are also used in 
 * event detail screen
 */
td.v4titleBG1    {}
td.v4titleBG2    {}
td.v4titleBG3    {}
td.v4titleBG4    {}
td.v4dateLabel   {color:#00c}
td.v4dateTxt     {color:#0cc}
td.v4timeLabel   {color:#0cf}
td.v4timeTxt     {color:#f0f}
td.v4detailLabel {color:#609088}
td.v4detailTxt   {color:#cc0}
td.v4attLabel    {color:#ccc}
td.v4attTxt      {color:#cc0}
td.v4priLabel    {color:#fc0}
td.v4priTxt      {color:#cf0}
td.v4urlLabel    {color:#ca0}
td.v4urlTxt      {color:#ac0}
td.v4locationLabel {color:#abc}
td.v4locationTxt {color:#acb}
td.v4catLabel    {color:white}
td.v4catTxt      {color:white}
td.v4ctpLabel    {color:white}
td.v4ctpTxt      {color:white}
td.v4ctmLabel    {color:white}
td.v4ctmTxt      {color:white}
td.v4authorLabel {color:white}
td.v4authorTxt   {color:white}
td.v4speakerLabel {color:white}
td.v4speakerTxt   {color:white}

.v4mailto        {color:white}
.v4edit          {color:white} 

.v4recurrence    {color:#c0c}

/*=============================================================================*
 Diary Screen
 =============================================================================*/
table.diaryHolder {}
td.diaryHolderTD  {}

table.diaryEtHolder {}
td.diaryEtHolderTd  {}

table.diaryCtbl  {background-color:#f0f}
table.diaryEtTbl {background-color:#0cc}
td.diaryEtTd     {background-color:#003346;border:1px solid;border-color: #ddd #555 #666 #eee;}
td.diarytbarTd   {}
td.diaryTd       {background-color:#606;color:#cc0}


.diaryDate       {font-size:10px}
.diaryEdit       {font-size:10px}
.diaryPrint      {font-size:10px}

/* event table on the right */
.diaryEtTitle {font-size:14px;font-weight:bold;color:#f30;text-decoration:underline}

P.diaryContent {font-size:12px} 
P.diaryContent:first-letter {color:red; font-size:16px;text-transform:uppercase} 



/*=============================================================================*
 Note Screen
 =============================================================================*/
table.noteContentHolder {}
td.noteContentHolderTd  {}
table.noteContentTbl    {}
table.noteSearch	{}

table.note       {}
td.notePin       {}
td.noteFiller    {}
td.noteCatTd     {background-color:#660}
td.noteTitle     {background-color:#00c}
td.noteContentTd {background-color:#cc0;color:#c0c}

.notePrint       {color:#699;font-size:10px}
.noteEdit        {color:#696;font-size:10px}
.noteDelete      {color:#966;font-size:10px}
.noteDatetime    {color:#999;font-size:10px}
.noteTitle       {color:#933;font-size:12px}
.noteCat         {font-size:14px; font-weight:bold; font-style:italic}
.noteContent     {font-size:10px}

/*=============================================================================*
 Contact List Screen
 =============================================================================*/
table.addrIndex {background-color:#666}
td.addrIndex    {}

table.addrSearch {}

td.addrRow1Td    {background-color:#346}

table.address    {background-color:#ccc}

td.addrName0      {background-color:black}
td.addrPhone0     {background-color:black}
td.addrFax0       {background-color:black}
td.addrEmail0     {background-color:black}
td.addrCompany0   {background-color:black}
td.addrAddr0      {background-color:black} 
td.addrInfo0      {background-color:black}
td.addrckbox0     {background-color:#650}

td.addrName1      {background-color:#333}
td.addrPhone1     {background-color:#333}
td.addrFax1       {background-color:#333}
td.addrEmail1     {background-color:#333}
td.addrCompany1   {background-color:#333}
td.addrAddr1      {background-color:#333} 
td.addrInfo1      {background-color:#333}
td.addrckbox1     {background-color:#560}



.addrName,
.addrPhone,
.addrFax,
.addrEmail,
.addrCompany,
.addrAddr,
.addrInfo     {color:#990;font-size:12px}

.addrCheck   {font-size:12px}
.addrSmail   {font-size:12px} 

.addrIndex   {font-size:12px}
.addrRow1Txt {color:red;font-style:italic;font-size:12px}

/*=============================================================================*
 Task Manager Screen
 =============================================================================*/
table.taskTab       {}
td.taskTabTd        {}
td.taskTabTdActive  {}
td.taskTabSpacer    {}

table.tasktbl       {background-color:#99c}
td.taskRow1Td       {background-color:#060}

td.taskckbox0        {background-color:black}
td.taskSdate0        {background-color:black}
td.taskDdate0        {background-color:black}
td.taskDtime0        {background-color:black}
td.taskTitle0        {background-color:black}
td.taskDetail0       {background-color:black}

td.taskckbox1        {background-color:#333}
td.taskSdate1        {background-color:#333}
td.taskDdate1        {background-color:#333}
td.taskDtime1        {background-color:#333}
td.taskTitle1        {background-color:#333}
td.taskDetail1       {background-color:#333}




.taskLabel    {font-size:12px;font-weight:bold}
.taskRow1Txt  {font-size:12px}
.taskSdate    {font-size:11px}
.taskDdate    {font-size:11px;color:#c00}
.taskDtime    {font-size:12px;color:#f06}
.taskTitle    {font-size:12px}
.taskDetail   {font-size:11px}
.taskDoneA    {color:red;font-style:italic;font-size:11px}
.taskDoneB    {color:green;font-style:italic;font-size:11px}



/*=============================================================================*
 MailTo Screen
 =============================================================================*/
td.m2calTd  {border:1px solid;border-color: #ddd #555 #666 #eee;}
td.m2m2Td   {border:1px solid;border-color: #ddd #555 #666 #eee; background-color:#666}

.m2cal      {}
.m2calName  {}


/*=============================================================================*
 Calendar Listing Screen
 =============================================================================*/
table.listCal {}
tr.listCalTR0 {}
tr.listCalTR1 {}
td.listCalTd1 {cursor:pointer;color:#f00}
td.listCalDes {font-size:14px;font-style:italic}
td.listCalName  {font-weight:bold;font-size:14px;color:black}
td.listCalGName {font-weight:bold;font-size:14px;color:red}
.listCalNameT  {font-weight:bold;font-size:14px;color:black}
.listCalGNameT {font-weight:bold;font-size:14px;color:red}

/*=============================================================================*
 Event Editor
 =============================================================================*/
table.editor     {background-color:black}
table.editorClrs {background-color:black}
td.editorEsum    {background-color:#332}
td.editorRow0    {background-color:#332}
td.editorClrs    {background-color:#003}
td.editorFont    {background-color:#003}
td.editorCT      {background-color:#003}
td.editorAtt     {background-color:#030}
td.editorRmnd1   {background-color:#303}
td.editorK       {background-color:#300}
td.editorP       {background-color:#300}
td.editorCmp     {background-color:#033} 

/*=============================================================================*
 Form elements
 =============================================================================*/
.fmLabel      {font-size:10px; color:#0cc}
.fmLabelS     {font-size:9px;color:#0cc}
.fmEntryClock {font-size:9px}

.fmFile,
.fmBtn,
.fmBtnSt,
.fmList,
.fmListS,
.fmListN,
.fmEntry,
.fmEntryS,
.fmEntryP
{font-size:10px;color:#f0c; background-color:#69c;}

.fmEntryS,
.fmListS  {font-size:9px;}

.fmListN {}  

.fmBtnSt       {background-color:#cc0;color:red;font-weight:bold}
.fmBtnSt:hover {background-color:red;color:green;}

.fmBtn:hover   {background-color:red;color:green;}

.fmRadio,
.fmRadioS {font-size:10px}

.fmText   {background-color:#69c;color:blue;}
.fmTextS  {font-size:9px;background-color:#69c;color:blue;}

/* long message in form */
.fmMsg {font-size:10px;border: 3px double red; color: #090} 


/*=============================================================================*
 Popup reminder
 =============================================================================*/
.reminderT     {}
.reminderD     {}


/*=============================================================================*
 Image upload/select link on various screens
 =============================================================================*/
.iupload       {font-size:11px}
.iselect       {font-size:11px}

/*=============================================================================*
 used in image and calendar range selection bars
 =============================================================================*/
.lnkstep           {font-size:12px} 
.lnkrange          {font-size:9px;color:#00c}
.rangeSelectNBar   {font-size:9px}


/*=============================================================================*
 Compare & conflict table
 =============================================================================*/
table.cftETable  {border-collapse: collapse;}

.cftEtHead     {color:green; font-style:italic} 
.cftCname      {color:blue; font-weight:bold; font-style:italic} 

.cfmName {}
.cfmAcpt {}
.cfmDced {}


/*=============================================================================*
 Import/Export screen
 =============================================================================*/
table.exportvcal  {background-color:#333}
td.exportvcal     {background-color:#333}

table.importvcal  {background-color:#333}
td.importvcal     {background-color:#333}


/*=============================================================================*
 Admin screen
 =============================================================================*/
table.admin       {background-color:#333}

/*=============================================================================*
 Options screen
 =============================================================================*/
table.option      {background-color:#333}

td.option0        {background-color:#300;color:#cc0}
td.option1        {background-color:#030;color:#cc0}

td.optionx        {background-color:#330023}



/*=============================================================================*
Used in variables for grid lines
 =============================================================================*/
.backtbla    {background-color:#999} 

.backtbltask       {background-color:#69c} 
.backtbladdress    {background-color:#999} 
.backtblmcal       {background-color:#669}
.backtblwcal       {background-color:#669}
.backtbldvb        {background-color:#669}
.backtbldvc        {background-color:#669}
.backtbldvd        {background-color:#69699c}
.backtblwvb        {background-color:#69699c}

/*=============================================================================
 *  combined year view May 25 2003
 =============================================================================*/

.backtblycal       {background-color:#669}
table.yvtbl        {}
td.yvRow1Td  {background-color:transparent; color:white; font-size:small; 
              border-bottom:1px solid #333; border-right:1px solid #333;}
td.yvCol1Td  {background-color:transparent; color:white; font-size:small; 
              border-bottom:1px solid #333; border-right:1px solid #333;}
td.ycm       {}
td.yc0       {background-color:black}
td.yc1       {background-color:#333}
              /* please do not specify bg color */
td.yc2       {}

.yvRow1Txt   {font-size:small; color: yellow;}
.yvCol1Txt   {font-weight:bold}
.ycfree      {font-size:small;color:#666} 
.ycbusy      {font-size:small;color:#c00} 

/*=============================================================================
 *  free busy table May 25 2003
 =============================================================================*/
.backtblfb  {}
table.fbtbl {} 

td.crow1  {background-color:#400; border-bottom:1px solid #333; border-right:1px solid #333;}
td.crow2  {background-color:#006; border-bottom:1px solid #333;}
.crow1txt {color: white}
.crow1txts {color: white}
.crow2txt {color: white}

td.ccol1  {background-color:#660; border-bottom:1px solid #333; border-right:1px solid #333;}
.ccol1txt {color:red}

td.ccolx  {background-color:#c06}
td.ccolz  {background-color:#fc9}
td.cfree  {background-color:black}

/* please don't specify bgcolor */
td.cbusy  {}

.cc       {font-size:10px}

td.cdivider { background-color: red}

/*=============================================================================*
 05/13/2004
 left navigation bar on option/admin screens 
 =============================================================================*/
table.oaContainer {background-color:#000}
td.oaleft	  {}
td.oadivider	  {}
td.oaright	  {}

.lnav             {color:#990; font-size:small;}
.lnava            {color:#060; font-size:small;}
.lnavh            {color:#999; font-weight:bold; font-size:small;}

table.lntab       {}
tr.lnheaderrow    {}
td.lnheadercell   { border: 0px solid green; color:#aaf}
.lnheadertxt      {}
tr.lnrow          {}

/* see comments above td.tabtabHover */

td.lncell         {cursor:pointer;border:1px solid;border-color:#ddd #666 #999 #fff; background-color:#222;}
td.lncellHover    {cursor:pointer;border:1px solid;border-color:#666 #999 #fff #777; background-color:#333;}
td.lncellh        {cursor:pointer;border:1px solid;border-color:#ddd #666 #999 #fff; background-color:#111;}

table.opdivider   {}
td.optitle	  {font-size: 12px; font-style:italic; color: #ccc; font-weight: bold;}
/*=============================================================================*/

/* 07/30/04: used in search form */ 

.fmLabelSa {color:#c30}
.fmEntrySa {border:1px solid green; background-color:#000;color:#039}

.fmBtnStSa {font-size:10px; background-color:#333;color:#f00}
.fmBtnStSa:hover {color:#0f0;background-color:#f00}

/*=============================================================================*/

/* 07/30/04: Header elements */
 
.fmEntryH,
.fmBtnH,
.fmListH,
.fmLabelH {font-size: 10px;}

.fmBtnH   {paddint:1pt; background-color:#333}
.fmEntryH {font-size: 10px;padding: 0pt; color:red;background-color:black;border:1px solid #333;}
.fmListH  {font-size: 10px;padding: 0pt; color:red;background-color:black;border:1px solid #333;}
.fmLabelH {}

.searchform {padding:0px; margin-bottom:0}
.headerform {padding:0px; margin-bottom:0}

td.editsubmit {;border: 0px solid red}
/*=============================================================================*/
.noborder { border-width: 0px}
.awarn {color:#00f; font-weight:bold;font-size:small}
/*=============================================================================*/

	    
