/*******************************************************************************
 *          WebCalendar Sample Style sheet                                     *
 *                                           ------Transparent background      *
 *******************************************************************************/
/*
 * $Header: /home/cvs/webCal/webCal2/transparent.css,v 1.25 2004/10/21 20:38:08 mzou Exp $
 */

/* cleaned up by  "Ed" <epo1@myrealbox.com> */

/*=============================================================================*
 Body
 =============================================================================*/
body      {font-family: "comic sans ms", arial; 
           margin:0 2px 10px 2px;
	   background-color: #fff;
           background-image: url("/calendar/images/puppy.jpg");
           background-repeat: no-repeat;
          /* background-attachment:fixed; */
          } 
td        {font-family: "comic sans ms"; }
 
/*=============================================================================*
 Link
 =============================================================================*/
a         { color:#33c; text-decoration:none}
a:visited { color:#33c; text-decoration:none}
a:active  { color:#33F; text-decoration:underline}
a:hover   { color:#FF3036; text-decoration:none;color:red;background-color:#0f0}
a.transparent:hover {background-color:transparent}


/*=============================================================================*
 Master Head 
 =============================================================================*/
table.header      {}
td.headertd       {}

.version          {color:#ccf;font-size:10px}
.calendarTitle    {font-size:18px;font-weight:bold}
.favoriateLink    {font-size:9px;}
.logout           {font-size:12px;font-weight:bold;}
.memberInTitle    {font-size:10px} 

/*=============================================================================*
 Tabs
 =============================================================================*/
table.tabcontainer {}
td.tabfillerrow    {}
td.tabtabrow       {}
table.tabsbar      {}
td.tabfiller       {}

/* tabtabHover and tabtabActive should really be
   tabtab:hover and tabtab:active. However, IE
   does not support these pseudo class on TD elements.
   This hack is used to get around it. */


td.tabtab          {cursor:pointer}
td.tabtabHover     {cursor:pointer;background-color:yellow}
td.tabtabActive    {cursor:pointer}

td.tabfiller       {}
td.tabdtime        {}
td.tabclock        {}

.tabTxt            {font-size:9px;color:#99f}
.tabTxtActive      {font-size:9px;color:#ccf}
.motd              {color:#c000cc;font-weight:bold;font-size:12px}
.datetime          {font-weight:bold;font-size:12px;font-style:italic} 


/*=============================================================================*
 Horizontal navigation bar
 =============================================================================*/
table.hnbar   {}
td.hnbartd    {}

.hnbar        {font-size:11px;font-weight:bold;}
.hnbarMini    {}


/*=============================================================================*
 Date-range navigation bar
 =============================================================================*/
table.dnbar   {background-color:transparent;background-image:url("/calendar/images/m/maskffcc66.gif");}
td.dnbarTd    {}
.dnbarTxt     {font-size:10px}


/*=============================================================================*
 Vertical navigation bar (fancy list views)
 =============================================================================*/
td.v34navHolder {border:1px solid; background-color:transparent;
		border-color: #999 #333 #666 #999;}

table.v34navtbl {}
td.v34hfiller   {}
td.v34vfiller   {}
td.v34tdBIG     {}
td.v34today     {background-color:#990}
td.v34navTd0    {background-color:#099}

/* see comments above td.tabtabHover */

td.vbtn         {cursor:pointer;border:1px solid;border-color:#ddd #333 #666 #eee;}
td.vbtnHover    {cursor:pointer;border:1px solid;border-color:#ddd #333 #666 #eee;background-color:#090}
td.vbtnActive   {cursor:pointer;border:1px solid;border-color:#ddd #333 #666 #eee;}

.v34nav         {font-size:11px;color:#cc0;font-weight:bold}

/*=============================================================================*
 Small Month calendar as date selector (fancy list views)
 =============================================================================*/

table.v34Smvtbl  {background-color:transparent;background-image:url("/calendar/images/m/maskffccff.gif")}
td.v34SmvRow1Td  {}
td.v34SmvCol1Td  {}
td.v34SmvTdtdy   {}
td.v34SmvTd      {}
td.v34SmvTdout   {background-color:transparent;}
td.v34SmvTdnav   {}

.v34SmvRow1Txt   {font-size:11px;font-weight:bold}
.v34SmvTitle     {font-size:11px}
.v34SmvRow1Txt   {font-size:11px}
.v34SmvDay       {font-size:11px}


/*=============================================================================*
 Date navigation bar (fancy list views)
 =============================================================================*/
td.dnbar34Td  {background-color:transparent;background-image:url("/calendar/images/m/mask99ccff.gif");}

.dnbar34Txt {font-size:10px;color:#90f}



/*=============================================================================*
 The quick-add button, tooltip and a few misc items
 =============================================================================*/
.quickadd            {font-size:9px;background-color:#606;color:#aaa} 
.miscTitle           {font-size:18px;font-weight:bold;color:#f00}
.miscTitleSmall      {font-size:12px;font-weight:bold;color:#f00}
.warnMsg             {color:#f00}
.authWarn            {color:#f90;font-weight:bold;font-size:large} 
.msg                 {color:#390;font-style:italic;font-size:12px}   
.boxMsg              {border:1px solid;border-color: #ddd #333 #666 #eee;}
.overdue             {color:#fa0}
.greetingInstruction {}
.errorMsg            {}

.errorTitle        {color:red;font-weight:bold;}

table.tipholder      {}
tr.tipholder         {}
td.tipholder         {border:2px solid;border-color: #ddd #333 #666 #eee;}
table.tip	     {}
tr.tip		     {}
td.tip		     {}		     
.tip                 {font-size:14px}

/*=============================================================================*
 Calendar Search Form Table on all Block views
 =============================================================================*/
table.calSearch {}


/*=============================================================================*
 Popup date selector
 =============================================================================*/
.dsMonthName {font-size:14px;font-weight:bold;color:red} 
.dsDay       {font-size:12px;}
.dsRow1Txt   {font-size:12px;font-weight:bold;color:#fff}
.dsRow1Td    {background-color:#09c}


/*=============================================================================*
 Month/Week/Day Title Label on various views  
 =============================================================================*/
.mvTitle,
.wvTitle,
.yvTitle,
.dvTitle,
.mvTitle2,
.wvTitle2,
.yvTitle2,
.dvTitle2
{font-size:16px;font-weight:bold}

.mvTitle34,
.wvTitle34,
.yvTitle34,
.dvTitle34
{font-size:18px;font-weight:bold;color:#999;font-style:italic}


/*=============================================================================*
 Style used to display event time, title in event tables
 1 -- appointment
 2 -- todo
 3 -- meeting
 4 -- special
 =============================================================================*/
/*-- for event title --*/
.zet1 {}
.zet2 {}
.zet3 {}
.zet4 {}

/*-- for event time. colors are hard-coded and cannot be changed --*/
.ztt1 {}   
.ztt2 {} 
.ztt3 {}   
.ztt4 {}  


/*=============================================================================*
 Event Table, general
 =============================================================================*/
/* The next one is used in event summary table. This table
 * is used in block-day,week,month view, diary-screen event
 * summary, evnet-editor screen event summary.
 * The color/style set on event entries will override all properties
 * defined on TR, except the border.
 */

table.et  {border-collapse: collapse}
tr.et1    {border-top:1px dotted #669}
tr.et2    {border-top:1px dotted #669}
tr.et3    {border-top:1px dotted #669}
tr.et4    {border-top:1px dotted #669}
tr.special {background-color:transparent}

td.et1    {background-color:transparent}
td.et2    {background-color:transparent}
td.et3    {background-color:transparent}
td.et4    {background-color:transparent}
tr.special {background-color:transparent}

/*=============================================================================*
 Day view Styles
 =============================================================================*/
/*-- used in day summary view --*/
table.dvetc     {border-collapse:collapse;background-color:transparent}
table.dvcHolder {border-collapse:collapse;background-color:transparent}
table.ecombined {background-color:transparent}
td.ec1          {background-color:transparent}
td.ec2          {background-color:transparent}
td.ec3          {background-color:transparent}
td.ec4          {background-color:transparent}
td.ec0          {background-color:transparent;border:1px solid #99c}

/*-- used in day banner view --*/
table.ebanner {border-collapse:collapse;background-color:transparent}
td.eb1    {background-color:transparent;border:1px solid green}
td.eb2    {background-color:transparent;border:3px double #cc0}
td.eb3    {background-color:transparent;border:1px solid red}
td.eb4    {background-color:transparent;border:1px solid #99c}
td.ebebnk {background-color:transparent;border:1px solid #99c}

td.ebt0   {background-color:transparent;border:1px solid #99c}
td.ebt1   {background-color:transparent;border:1px solid #99c}
td.ebt2   {background-color:transparent;border:1px solid #99c}
td.ebt3   {background-color:transparent;border:1px solid #99c}
td.ebt4   {background-color:transparent;border:1px solid #99c}
td.ebt5   {background-color:transparent;border:1px solid #99c}
td.ebt6   {background-color:transparent;border:1px solid #99c}

/*-- used in day detailed view --*/
table.edetail {border-collapse:collapse;background-color:transparent}
td.ed1        {background-color:transparent;border:1px solid #99c}
td.ed2        {background-color:transparent;border:1px solid #99c}
td.ed3        {background-color:transparent;border:1px solid #99c}
td.ed4        {background-color:transparent;border:1px solid #99c}


td.ed00        {background-color:transparent;border:1px solid #ffc}
td.ed10        {background-color:transparent;border:1px solid #ddc}
td.ed01        {background-color:transparent;border:1px solid #cff}
td.ed11        {background-color:transparent;border:1px solid #cdd}


td.dvDRow0Td  {background-color:transparent}

.dvDRow0Txt   {color:#66c;font-size:12px}
.dvDRow0Txtt  {color:#66c;font-size:12px}

table.dvtbl   {background-color:transparent}
td.dvpmonth   {background-color:transparent}
td.dvmonth    {background-color:transparent}
td.dvnmonth   {background-color:transparent}
td.dvmonthfill {background-color:transparent}

table.edetailNested {background-color:transparent}

td.dvOutsideTd0 {background-color:transparent;border:1px solid #99c;background-image: url("/calendar/images/m/maskccccff.gif");}
td.dvOutsideTd1 {background-color:transparent;border:1px solid #99c;background-image: url("/calendar/images/m/maskccccff.gif");}

/*-- time in banner view   --*/
.dvBT  {color:#996}
/*-- time in detailed view --*/
.dvDT  {color:#996}
/*-- time in summary view  --*/
.dvT   {color:#39c}


/*=============================================================================*
 Column banner View, May 15, 2003 
 =============================================================================*/

.dbvhdr0      {background-color:#cc6; border-bottom:1px solid;border-right:1px solid;border-color:#333;}
.dbvhdr1      {background-color:#6cc; border-bottom:1px solid;border-right:1px solid;border-color:#333;}

td.dbvdtm0       {background-color: transparent;border:1px solid; border-color:#999 #333 #666 #999;}
td.dbvdtm1       {background-color: transparent;border:1px solid; border-color:#999 #333 #666 #999;}
.dbvBT           {color:blue}
.dbvhdr          {color:blue}

td.dbvdbnk00     {background-color: transparent; border:1px solid #ccf}
td.dbvdbnk10     {background-color: transparent; border:1px solid #ccf}
td.dbvdbnk01     {background-color: transparent; border:1px solid #ccf}
td.dbvdbnk11     {background-color: transparent; border:1px solid #ccf}

/* for no time events or events outside range */

tr.dbvRowOut0          {}
tr.dbvRowOut1          {}
td.dbvOutsideTd0       {background-color:transparent;} 
td.dbvOutsideTd1       {background-color:transparent;}


/*=============================================================================*
 Block Month View
 =============================================================================*/
table.mvtbl {background-color:transparent;border-collapse:collapse; border: 1px solid red}
td.mvtdpmth {background-color:transparent;border:1px solid #99c;background-image:url("/calendar/images/m/maskccccff.gif");}
td.mvtdnmth {background-color:transparent;border:1px solid #99c;background-image:url("/calendar/images/m/maskccccff.gif");}
td.mvtdtdy  {background-color:transparent;border:1px solid #99c;background-image:url("/calendar/images/m/maskff99ff.gif");}
td.mvtd     {background-color:transparent;border:1px solid #99c}
td.mvtdwknd {background-color:transparent;border:1px solid #99c;}

td.mvRow1Td {background-color:transparent;border:1px solid #99c;background-image:url("/calendar/images/m/maskff99ff.gif");}
td.mvCol1Td {background-color:transparent;border:1px solid #99c;background-image:url("/calendar/images/m/maskff99ff.gif");}

.mvRow1Txt  {font-size:10px;font-weight:bold;color:#f33}
.mvCol1Txt  {font-size:9px;color:#660}
.mvDay      {font-size:12px;font-weight:bold;font-style:italic;color:#060} 


/*=============================================================================*
 Small Block Month View
 =============================================================================*/
/*-- duplicated for different uses of small month table --*/

table.Smvtbl  {background-color:transparent;border-collapse:collapse; border: 1px solid red}
td.SmvRow1Td  {background-color:transparent;border:1px solid #99c;background-image: url("/calendar/images/m/mask6699ff.gif");}
td.SmvCol1Td  {background-color:transparent;border:1px solid #99c;background-image: url("/calendar/images/m/mask6699ff.gif");}
td.SmvTdtdy   {background-color:transparent;border:1px solid #99c}
td.SmvTd      {background-color:transparent;border:1px solid #99c}
td.SmvTdout   {background-color:transparent;border:1px solid #99c}
td.SmvTdnav   {background-color:transparent;border:1px solid #99c}

.SmvRow1Txt   {font-size:11px;font-weight:bold}
.SmvTitle     {font-size:12px;font-weight:bold}
.SmvDay       {font-size:12px}  

/*-- small month cal if used in a iframe --*/
table.navSmvtbl  {}
td.navSmvRow1Td  {}
td.navSmvCol1Td  {}
td.navSmvTdtdy   {}
td.navSmvTd      {}
td.navSmvTdout   {}
td.navSmvTdnav   {}
.navSmvRow1Txt   {font-size:9px;font-weight:bold}		  
.navSmvTitle     {font-size:9px}
.navSmvDay       {font-size:9px}  


/*=============================================================================*
 Block Week View
 =============================================================================*/
table.wvtbl  {background-color:transparent;border-collapse:collapse; border: 1px solid #99c}
td.wvTd      {background-color:transparent; border: 1px solid #99c}
td.wvTdToday {background-color:transparent; border: 1px solid #99c;background-image:url("/calendar/images/m/maskff99ff.gif");}
td.wvTdwknd  {background-color:transparent; border: 1px solid #99c;background-image:url("/calendar/images/m/maskffccff.gif");}


table.wvcftblHolder {background-color:transparent}
td.wvcftblHolderTd  {background-color:transparent}

table.wvcftbl  {background-color:transparent;border-collapse:collapse; border: 1px solid #99c}
td.cftd0       {background-color:transparent;border:1px solid #99c}
td.cftd1       {background-color:#ccc;border:1px solid #99c}
td.cftd2       {background-color:#aaa;border:1px solid #99c}
td.cftd3       {background-color:#888;border:1px solid #99c}
td.cftd4       {background-color:#777;border:1px solid #99c}
td.cftd5       {background-color:#666;border:1px solid #99c}
td.cftd6       {background-color:#555;border:1px solid #99c}

td.cftdy0      {background-color:transparent;border:1px solid #99c}
td.cftdy1      {background-color:#c9c;border:1px solid #99c}
td.cftdy2      {background-color:#969;border:1px solid #99c}
td.cftdy3      {background-color:#636;border:1px solid #99c}
td.cftdy4      {background-color:#535;border:1px solid #99c}
td.cftdy5      {background-color:#434;border:1px solid #99c}
td.cftdy6      {background-color:#323;border:1px solid #99c}
td.wvCftRow1Td {background-color:transparent; border:1px solid #99c;background-image:url("/calendar/images/m/maskccccff.gif");}
td.wvCftCol1Td {background-color:transparent; border:1px solid #99c;background-image:url("/calendar/images/m/maskccccff.gif");}

.wvWday        {font-weight:bold;color:blue;text-decoration:underline}
.wvDay         {}
.wvCftRow1Txt  {font-size:10px;color:blue;font-weight:bold;}
.wvCftCol1Txt  {font-size:9px;color:blue;}

/*=============================================================================*
 Detailed Week View, May 15, 2003 
 =============================================================================*/

.wvdWday        {font-weight:bold;color:blue}
.wvdDay         {}
td.wvdayhdr0      {background-color:transparent;background-image:url("/calendar/images/m/maskccccff.gif"); border-bottom:1px solid;border-right:1px solid;border-color:#333;}
td.wvdayhdr1      {background-color:transparent;background-image:url("/calendar/images/m/maskffffcc.gif"); border-bottom:1px solid;border-right:1px solid;border-color:#333;}

td.wvdtm0       {background-color: transparent;border:1px solid; border-color:#999 #333 #666 #999;}
td.wvdtm1       {background-color: transparent;border:1px solid; border-color:#999 #333 #666 #999;}
.wvBT           {color:blue}

td.wvdbnk00     {background-color: transparent; border:1px solid #ccf}
td.wvdbnk10     {background-color: transparent; border:1px solid #ccf}
td.wvdbnk01     {background-color: transparent; border:1px solid #ccf}
td.wvdbnk11     {background-color: transparent; border:1px solid #ccf}

/* for no time events or events outside range */

tr.wvRowOut0          {}
tr.wvRowOut1          {}
td.wvOutsideTd0       {background-color:transparent} 
td.wvOutsideTd1       {background-color:transparent}


/*=============================================================================*
 Block Year View
 =============================================================================*/
/* The "Special events" title */
table.yveTbl   {border:2px solid;border-color: #999 #333 #666 #999;}
td.yvEtTRow    {background-color:transparent}
td.yvEttdt     {background-color:transparent}
td.yvEttde     {background-color:transparent}
td.yvmth       {background-color:transparent}
table.yvEtHolder {background-color:transparent}
td.yvEtHolderTD  {background-color:transparent}


.yvEtTitle {color:red;font-size:14px;font-weight:bold; text-decoration:underline}

.yvRecurrence {}

/*=============================================================================*
 Simple List View
 =============================================================================*/
table.v2etHolder {background-color:transparent}
table.v2tbl {border-collapse: collapse;}
td.v2Row1Td {border:1px solid #333;background-color:transparent;background-image: url("/calendar/images/mask.gif");}

td.v2DateTd0 {border:1px solid #333;background-color:transparent}
td.v2eTd10   {border:1px solid #333;background-color:transparent}
td.v2eTd20   {border:1px solid #333;background-color:transparent}
td.v2eTd30   {border:1px solid #333;background-color:transparent}

td.v2DateTd1 {border:1px solid #333;background-color:transparent}
td.v2eTd11   {border:1px solid #333;background-color:transparent}
td.v2eTd21   {border:1px solid #333;background-color:transparent}
td.v2eTd31   {border:1px solid #333;background-color:transparent}

td.v2DateTd2 {border:1px solid #333;background-color:transparent}
td.v2eTd12   {border:1px solid #333;background-color:transparent}
td.v2eTd22   {border:1px solid #333;background-color:transparent}
td.v2eTd32   {border:1px solid #333;background-color:transparent}

td.v2filler {}
/* used in displaying date and day: the leftmost column */
.v2Date     {color:#ccc}
.v2Day      {color:#fa0;font-weight:bold}
.v2Row1Txt  {color:#060;font-weight:bold}
.v2Title    {}
.v2Detail   {}


/*=============================================================================*
 Fancy List Views
 =============================================================================*/
table.v34tbl {}

td.v3td1     {background-color:transparent}
td.v3td2     {background-color:transparent}
td.v3td3     {background-color:transparent}
td.v3td4     {background-color:transparent}
td.v3td0     {background-color:transparent;background-image: url("/calendar/images/mask.gif");}

.v34Date     {font-style:italic;color:#660}

/* event/localtion/category label */
.v3Label    {}  
.v3Category {} 
.v3Location {} 
.v3Speaker  {} 
.v3Title    {}

/*=============================================================================*
 Fancy List Views
 =============================================================================*/
/* style for event title */
.v4title1,
.v4title2,
.v4title3,
.v4title4
{font-size:14px;font-weight:bold;color:#f30;text-decoration:underline;}

/* style of td cell for the above 4. They are also used in 
 * event detail screen
 */
td.v4titleBG1    {background-color:transparent;background-image: url("/calendar/images/mask.gif");}
td.v4titleBG2    {}
td.v4titleBG3    {}
td.v4titleBG4    {}
td.v4dateLabel   {color:#00c}
td.v4dateTxt     {color:#0cc}
td.v4timeLabel   {color:#0cf}
td.v4timeTxt     {color:#f0f}
td.v4detailLabel {color:#609088}
td.v4detailTxt   {color:#cc0}
td.v4attLabel    {color:#c0c}
td.v4attTxt      {color:#c60}
td.v4priLabel    {color:#fc0}
td.v4priTxt      {color:#cf0}
td.v4urlLabel    {color:#ca0}
td.v4urlTxt      {color:#ac0}
td.v4locationLabel {color:#abc}
td.v4locationTxt {color:#acb}
td.v4catLabel    {color:white}
td.v4catTxt      {color:white}
td.v4ctpLabel    {color:white}
td.v4ctpTxt      {color:white}
td.v4ctmLabel    {color:white}
td.v4ctmTxt      {color:white}
td.v4authorLabel {color:white}
td.v4authorTxt   {color:white}
td.v4speakerLabel {color:white}
td.v4speakerTxt   {color:white}

.v4mailto        {color:#00c}
.v4edit          {color:#00c} 

.v4recurrence    {color:#c0c}

/*=============================================================================*
 Diary Screen
 =============================================================================*/
table.diaryHolder {background-color:transparent}
td.diaryHolderTD  {background-color:transparent}

table.diaryEtHolder {background-color:transparent}
td.diaryEtHolderTd  {background-color:transparent}

table.diaryCtbl  {background-color:transparent}
table.diaryEtTbl {background-color:transparent}
td.diaryEtTd     {background-color:transparent;border:1px solid #00c;}
td.diarytbarTd   {background:none; border: 1px solid; border-color:#99f}
td.diaryTd       {background-color:transparent;color:#360;border:1px solid #009}

P.diaryContent {font-size:12px} 
P.diaryContent:first-letter {color:red; font-size:16px;text-transform:uppercase} 

.diaryDate       {font-size:10px}
.diaryEdit       {font-size:10px}
.diaryPrint      {font-size:10px}

/* event table on the right */
.diaryEtTitle {font-size:14px;font-weight:bold;color:#f30;text-decoration:underline}



/*=============================================================================*
 Note Screen
 =============================================================================*/
table.noteContentHolder {background-color:transparent}
td.noteContentHolderTd  {background-color:transparent}
table.noteContentTbl    {background-color:transparent}
table.noteSearch	{background-color:transparent}

table.note       {background-color:transparent}
td.notePin       {background-color:transparent}
td.noteFiller    {}
td.noteCatTd     {}
td.noteTitle     {background-color:transparent}
td.noteContentTd {background-color:transparent;border:1px solid #669}

.notePrint       {color:#699;font-size:10px}
.noteEdit        {color:#696;font-size:10px}
.noteDelete      {color:#966;font-size:10px}
.noteDatetime    {color:#999;font-size:10px}
.noteTitle       {color:#933;font-size:12px}
.noteCat         {font-size:14px; font-weight:bold; font-style:italic}
.noteContent     {font-size:10px}

/*=============================================================================*
 Contact List Screen
 =============================================================================*/
table.addrIndex {}
td.addrIndex    {}

table.addrSearch {}

table.address    {border-collapse: collapse}

td.addrRow1Td    {border:1px solid #99c;background-color:transparent;background-image:url("/calendar/images/m/maskccccff.gif")}

td.addrName0      {border:1px solid #99c;background-color:transparent}
td.addrPhone0     {border:1px solid #99c;background-color:transparent}
td.addrFax0       {border:1px solid #99c;background-color:transparent}
td.addrEmail0     {border:1px solid #99c;background-color:transparent}
td.addrCompany0   {border:1px solid #99c;background-color:transparent}
td.addrAddr0      {border:1px solid #99c;background-color:transparent} 
td.addrInfo0      {border:1px solid #99c;background-color:transparent}
td.addrckbox0     {border:1px solid #99c;background-color:transparent;background-image:url("/calendar/images/m/maskccccff.gif")}


td.addrName1      {border:1px solid #c9c;background-color:transparent}
td.addrPhone1     {border:1px solid #c9c;background-color:transparent}
td.addrFax1       {border:1px solid #c9c;background-color:transparent}
td.addrEmail1     {border:1px solid #c9c;background-color:transparent}
td.addrCompany1   {border:1px solid #c9c;background-color:transparent}
td.addrAddr1      {border:1px solid #c9c;background-color:transparent} 
td.addrInfo1      {border:1px solid #c99c;background-color:transparent}
td.addrckbox1     {border:1px solid #c9c;background-color:transparent;background-image:url("/calendar/images/m/maskccffff.gif")}


.addrName,
.addrPhone,
.addrFax,
.addrEmail,
.addrCompany,
.addrAddr,
.addrInfo     {color:#660;font-size:12px}

.addrCheck   {font-size:12px}
.addrSmail   {font-size:12px} 

.addrIndex   {font-size:12px}
.addrRow1Txt {color:red;font-style:italic;font-size:12px}

/*=============================================================================*
 Task Manager Screen
 =============================================================================*/
table.taskTab       {}
td.taskTabTd        {}
td.taskTabTdActive  {}
td.taskTabSpacer    {}

table.tasktbl       {border-collapse: collapse;}
td.taskRow1Td       {border:1px solid #99c;background-color:transparent;background-image:url("/calendar/images/m/maskccccff.gif")}

td.taskckbox0        {border:1px solid #99c;background-color:transparent;background-image:url("/calendar/images/m/maskffcccc.gif")}
td.taskSdate0        {border:1px solid #99c;background-color:transparent}
td.taskDdate0        {border:1px solid #99c;background-color:transparent}
td.taskDtime0        {border:1px solid #99c;background-color:transparent}
td.taskTitle0        {border:1px solid #99c;background-color:transparent}
td.taskDetail0       {border:1px solid #99c;background-color:transparent}

td.taskckbox1        {border:1px solid #99c;background-color:transparent;background-image:url("/calendar/images/m/maskffcccc.gif")}
td.taskSdate1        {border:1px solid #99c;background-color:transparent}
td.taskDdate1        {border:1px solid #99c;background-color:transparent}
td.taskDtime1        {border:1px solid #99c;background-color:transparent}
td.taskTitle1        {border:1px solid #99c;background-color:transparent}
td.taskDetail1       {border:1px solid #99c;background-color:transparent}


.taskLabel    {font-size:12px;font-weight:bold}
.taskRow1Txt  {font-size:12px;color:#339;font-weight:bold}
.taskSdate    {font-size:11px}
.taskDdate    {font-size:11px;color:#c00}
.taskDtime    {font-size:12px;color:#f06}
.taskTitle    {font-size:12px}
.taskDetail   {font-size:11px}
.taskDoneA    {color:red;font-style:italic;font-size:11px}
.taskDoneB    {color:green;font-style:italic;font-size:11px}



/*=============================================================================*
 MailTo Screen
 =============================================================================*/
td.m2calTd  {border:1px solid;border-color: #ddd #333 #666 #eee;}
td.m2m2Td   {border:1px solid;border-color: #ddd #333 #666 #eee; background-color:red}

.m2cal      {}
.m2calName  {}


/*=============================================================================*
 Calendar Listing Screen
 =============================================================================*/
table.listCal {}
tr.listCalTR0 {}
tr.listCalTR1 {}
td.listCalTd1 {cursor:pointer; background-color:transparent}
td.listCalDes {font-size:14px;font-style:italic}
td.listCalName  {font-weight:bold;font-size:14px;color:black}
td.listCalGName {font-weight:bold;font-size:14px;color:red}
.listCalNameT  {font-weight:bold;font-size:14px;color:black}
.listCalGNameT {font-weight:bold;font-size:14px;color:red}


/*=============================================================================*
 Event Editor
 =============================================================================*/
table.editor     {}
table.editorClrs {}
td.editorEsum    {background-color:transparent;background-image:url("/calendar/images/m/maskffccff.gif")}
td.editorRow0    {}
td.editorClrs    {background-color:transparent}
td.editorFont    {background-color:transparent}
td.editorCT      {background-color:transparent}
td.editorAtt     {background-color:transparent}
td.editorRmnd1   {}
td.editorK       {}
td.editorP       {}
td.editorCmp     {} 

/*=============================================================================*
 Form elements
 =============================================================================*/
.fmLabel      {font-size:10px;color:#0cc}
.fmLabelS     {font-size:9px;color:#0cc}
.fmEntryClock {font-size:9px}

.fmFile,
.fmBtn,
.fmBtnSt,
.fmList,
.fmListS,
.fmListN,
.fmEntry,
.fmEntryS,
.fmEntryP
{font-size:10px;color:#f0c;background-color:transparent}

.fmListN {}  

.fmListS,
.fmEntryS,
.fmListS  {font-size:9px;}

.fmBtnSt  {background-color:#cc0;color:red;font-weight:bold}
.fmBtnSt:hover  {background-color:red;color:green;}

.fmBtn:hover  {background-color:red;color:green;}

.fmRadio,
.fmRadioS {font-size:10px}

.fmText   {color:red;background-color:transparent}
.fmTextS  {font-size:9px;color:red;background-color:transparent}

/* long message in form */
.fmMsg {font-size:10px;border:3px double red; color: #090} 


/*=============================================================================*
 Popup reminder
 =============================================================================*/
.reminderT     {}
.reminderD     {}


/*=============================================================================*
 Image upload/select link on various screens
 =============================================================================*/
.iupload       {font-size:11px}
.iselect       {font-size:11px}

/*=============================================================================*
 used in image and calendar range selection bars
 =============================================================================*/
.lnkstep           {font-size:12px} 
.lnkrange          {font-size:9px;color:#00c}
.rangeSelectNBar   {font-size:9px}

/*=============================================================================*
 Compare & conflict table
 =============================================================================*/
table.cftETable  {border-collapse: collapse;}

.cftEtHead     {color:green; font-style:italic} 
.cftCname      {color:blue; font-weight:bold; font-style:italic} 

.cfmName {}
.cfmAcpt {}
.cfmDced {}


/*=============================================================================*
 Import/Export screen
 =============================================================================*/
table.exportvcal  {}
td.exportvcal     {}

table.importvcal  {}
td.importvcal     {}


/*=============================================================================*
 Admin screen
 =============================================================================*/
table.admin       {background-color:transparent}

/*=============================================================================*
 Options screen
 =============================================================================*/
table.option      {background-color:transparent}

td.option0        {background-color:transparent}
td.option1        {background-color:transparent}
td.optionx        {border:1px solid; background-color:transparent;border-color: #999 #333 #666 #999;}



/*=============================================================================*
Used in variables for grid lines
 =============================================================================*/
.backtbla    {} 
.backtbltask       {background-color:transparent}
.backtbladdress    {background-color:transparent}
.backtblmcal       {background-color:transparent}
.backtblwcal       {background-color:transparent}
.backtbldvb        {background-color:transparent}
.backtbldvc        {background-color:transparent}
.backtbldvd        {background-color:transparent}
.backtblwvb        {background-color:transparent}

/*=============================================================================
 *  combined year view May 25 2003
 =============================================================================*/

.backtblycal {background-color:transparent}

table.yvtbl  {background-color:transparent;border-collapse:collapse; border: 1px solid red}

td.yvRow1Td  {color:white; font-size:small;border-bottom:1px solid #333; border-right:1px solid #333;
	      background-color:transparent;background-image:url("/calendar/images/m/mask99ff99.gif")}

td.yvCol1Td  {color:white; font-size:small; border-bottom:1px solid #333; border-right:1px solid #333;
	      background-color:transparent;background-image:url("/calendar/images/m/mask99ff99.gif")}

td.ycm       {border:1px solid #99c; background-color:transparent; background-image:url("/calendar/images/m/maskcccccc.gif");}
td.yc0       {border:1px solid #99c; background-color:transparent;}
td.yc1       {border:1px solid #99c; background-color:transparent; background-image:url("/calendar/images/m/mask99ccff.gif");}

              /* do not specify bg color */
td.yc2       {border:1px solid #99c;}

.yvRow1Txt   {font-size:small; color: red; font-weight:bold}
.yvCol1Txt   {font-weight:bold}
.ycfree      {font-size:small;color:#666} 
.ycbusy      {font-size:small;color:#c00} 

/*=============================================================================
 *  free busy table May 25 2003
 =============================================================================*/
.backtblfb  {background-color:transparent}
table.fbtbl {background-color:transparent;border-collapse: collapse} 

td.crow1  {background-color:transparent; background-image:url("/calendar/images/m/maskffcccc.gif");
	  border:1px solid #99c;}
td.crow2  {background-color:transparent; background-image:url("/calendar/images/m/maskffff99.gif");
	  border:1px solid #99c;}
.crow1txt {color: black}
.crow1txts {color: black}
.crow2txt {color: black}

td.ccol1  {background-color:transparent; background-image:url("/calendar/images/m/maskccccff.gif");
	  border:1px solid #99c;}
.ccol1txt {color:red}

td.ccolx  {background-color:transparent;border:1px solid #99c;}
td.ccolz  {background-color:transparent;border:1px solid #99c;}
td.cfree  {background-color:transparent;border:1px solid #99c;}

/* please don't specify bgcolor */
td.cbusy  {border:1px solid #99c;}

.cc       {font-size:10px}

td.cdivider { background-color: red}

/*=============================================================================*
 05/13/2004
 left navigation bar on option/admin screens 
 =============================================================================*/
table.oaContainer {background-color:transparent}
td.oaleft	  {}
td.oadivider	  {}
td.oaright	  {}

.lnav             {color:#333; font-size:small;}
.lnava            {color:#c33; font-size:small;}
.lnavh            {color:#fff; font-weight:bold; font-size:small;}

table.lntab       {}
tr.lnheaderrow    {}
td.lnheadercell   { border: 0px solid green; color:#aaf}
.lnheadertxt      {}
tr.lnrow          {}

/* see comments above td.tabtabHover */
td.lncell         {cursor:pointer;border:1px solid;border-color:#ddd #666 #999 #fff; background-color:transparent}
td.lncellHover    {cursor:pointer;border:1px solid;border-color:#666 #999 #fff #777; background-color:#ddd;}
td.lncellh        {cursor:pointer;border:1px solid;border-color:#ddd #666 #999 #fff; background-color:#c00;}

table.opdivider   {}
td.optitle	  {font-size: 12px; font-style:italic; color: #ccc; font-weight: bold;}
/*=============================================================================*/

/* 07/30/04: used in search form */ 

.fmLabelSa {padding: 0pt; color: #333}
.fmEntrySa {padding: 0pt;background-color:transparent;color#cc0;}

.fmBtnStSa {font-size:10px; color:#f00; padding: 0pt; border:1px solid;border-color: #ddd #333 #666 #eee;}
.fmBtnStSa:hover {color:#0f0;background-color:#f00}
/*=============================================================================*/

/* 07/30/04: Header elements */
 
.fmEntryH,
.fmBtnH,
.fmListH,
.fmLabelH {font-size: 10px;}

.fmEntryH {background-color:transparent;color#cc0;}
.fmBtnH   {paddint:1pt}
.fmListH  {}
.fmLabelH {}

.searchform {padding:0px; margin-bottom:0}
.headerform {padding:0px; margin-bottom:0}

td.editsubmit {;border: 0px solid red}
/*=============================================================================*/
.noborder { border-width: 0px}
.awarn {color:#00f; font-weight:bold;font-size:small}
/*=============================================================================*/
